<a href="https://colab.research.google.com/github/uuganbayar-g/DIVER-ML-AI/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello, World")
print("Hello, Python")

Hello, World
Hello, Python

эхний програм

In [ ]:
num= 5+3
print(num)

8

In [6]:
print(2**1)
print(float(2.0))
print(type((2.0)))
a,b = 100,50
print(a)
z=1
z+=5
print(z)

2
2.0
<class 'float'>
100
6

working with the text in python

In [22]:
my_name = "Uugan"
print("My name is "+my_name+".")
temp = 25
weather_text = "unuudriin tsag agaar {}, {} gradus baina."
weather_text = weather_text.format("tselmeg",temp)
print(weather_text)

temp_high = 28.33
temp_low = 19.25

print("Өнөөдрийн цаг агаар хамгийн халуундаа {0:.1f}, хамгийн сэрүүндээ {1:.1f} байна.".format(temp_high,temp_low))
student_age = 35
print("学生の年齢{}".format(student_age))
print("学生の年齢", student_age, sep="")
print("学生の年齢"+str(student_age))

My name is Uugan.
unuudriin tsag agaar tselmeg, 25 gradus baina.
Өнөөдрийн цаг агаар хамгийн халуундаа 28.3, хамгийн сэрүүндээ 19.2 байна.
学生の年齢35
学生の年齢35
学生の年齢35

массив буюу пайтен дээр жагсаалттай ажиллах

In [25]:
monthly_average_temperatures = [6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
print(monthly_average_temperatures)
print(type(monthly_average_temperatures))


print(monthly_average_temperatures[5])
monthly_average_temperatures[5] = 24
print(monthly_average_temperatures[5])

print(monthly_average_temperatures[::2])

[6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
<class 'list'>
22
24
[6, 9, 20, 27, 23, 12]

In [5]:
for k in range(15):
  print(k)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [7]:
num = 0
while True:
  print(num)
  num += 3
  if num >= 10:
    break

0
3
6
9

In [11]:
def add(a,b):
  return(a+b)
add(3,6)

num = 0
while True:
  print(num)
  num += 3
  if num >= 10:
    break

0
3
6
9

In [6]:
import numpy as np

a = np.array([[1,2,3],[4,5,6]])
type(a)
a.ndim

np.sum(a)
a.sum()

21